body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.App {
  background-color: #cc527a;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 300px;
  padding: 20px;
  height: 400px;
}

.form-input {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  /* background-color: #a8a7a7; */
  border: #a8a7a7 3px solid;
  outline: #cc527a;
  width: 100%;
}

.form-input:focus {
  border: #cc527a 3px solid;
}

button {
  padding: 10px 20px;
  background-color: #e8175d;
  border-radius: 10px;
  border: 1px solid #e8175d;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #363636;
  border: 1px solid #363636;
}

span {
  color: red;
}

.success-message {
  background-color: #a8e6ce;
  padding: 10px;
  /* font-size: 14px; */
}
